<footer
  class="bg-gradient-to-t from-green-700 to-green-500 dark:from-green-900 dark:via-gray-900 dark:to-black text-white px-4 text-center transition-all duration-700 py-3 sm:py-6 fixed bottom-0 w-full z-40 lg:static lg:bottom-auto lg:w-auto lg:z-auto"
>
  <div
    class="max-w-5xl mx-auto flex flex-col sm:flex-row justify-between items-center gap-3"
  >
    <div class="hidden sm:flex items-center gap-2">
      <img
        src="assets/EduMeal-icon.png"
        alt="EduMeal"
        class="w-10 h-10 rounded-full shadow-lg"
      />
      <span class="font-semibold text-sm sm:text-lg">EduMeal</span>
    </div>

    <nav
      class="flex flex-wrap justify-center gap-2 sm:gap-4 text-xs sm:text-sm rounded-2xl px-2 py-2 sm:px-4 sm:py-3 bg-white/10 items-center-safe shadow-lg"
    >
      <a
        href="#home"
        class="text-white dark:text-gray-300 hover:text-green-200 transition"
        >Beranda</a
      >
      
    </nav>

    <div class="hidden sm:flex gap-3 items-center">
      <a href="#" class="hover:scale-110 transition"
        ><img src="assets/icons/facebook.svg" class="w-10 h-10" alt="fb"
      /></a>
      <a href="#" class="hover:scale-110 transition"
        ><img src="assets/icons/instagram.svg" class="w-10 h-10" alt="ig"
      /></a>
      <a href="#" class="hover:scale-110 transition"
        ><img src="assets/icons/twitter.svg" class="w-10 h-10" alt="tw"
      /></a>
    </div>
  </div>

  <div
    class="hidden sm:block border-t border-white/10 mt-2 sm:mt-4 pt-2 sm:pt-3 text-xs text-gray-100"
  >
    &copy; 2025
    <a href="index.html" class="hover:text-green-200 transition font-medium"
      >EduMeal</a
    >. Semua hak dilindungi.
  </div>
</footer>
